.redux-templates-button-display-dependencies {
    display: flex;
    justify-content: center;
    margin: 10px;
    span {
        svg {
            margin-right: 5px;
        }
        svg * {
            fill: #f7f7f7;
            box-shadow: 0 1px 0 #ccc;
        }
        &.missing-dependency {
            svg * {
                fill: #f5a623;
            }
        }
    }
}
