$primary: #c7a589;
$secondary: #9ea476;
$background: #59524c;
$text: #ffffff;
$menu_hover: #c7a589;
$menu_hover_text: #ffffff;
$header_background: #59524c;
$header_text: #ffffff;
$subsection_background: #46403c;
$subsection_background_hover: #46403c;
$subsection_text: #e2ecf1;
$active_menu_text: #ffffff;
$active_submenu_text: #ffffff;
$text_shadow: 1;

@import "../_admin.scss";